In [28]:
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

In [29]:
def check_age(age):
    if age < 18:
        return "Minor"
    elif 18 <= age < 60:
        return "Adult"
    else:
        return "Senior Citizen"

In [5]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [6]:
def even_or_odd(num):
    return "Even" if num % 2 == 0 else "Odd"

In [7]:
def grade_letter(percentage):
    if percentage >= 90:
        return "A"
    elif percentage >= 80:
        return "B"
    elif percentage >= 70:
        return "C"
    elif percentage >= 60:
        return "D"
    else:
        return "F"

In [8]:
def largest_of_two(a, b):
    return max(a, b)

In [10]:
def largest_of_three(a, b, c):
    return max(a, b, c)

In [11]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

In [12]:
def check_case(s):
    if s.isupper():
        return "Uppercase"
    elif s.islower():
        return "Lowercase"
    else:
        return "Mix of cases"

In [13]:
def pass_or_fail(score):
    return "Pass" if score >= 50 else "Fail"

In [14]:
def divisible_by_2_and_3(num):
    if num % 2 == 0 and num % 3 == 0:
        return "Divisible by both 2 and 3"
    elif num % 2 == 0:
        return "Divisible by 2 only"
    elif num % 3 == 0:
        return "Divisible by 3 only"
    else:
        return "Not divisible by 2 or 3"

In [15]:
def triangle_type(a, b, c):
    if a == b == c:
        return "Equilateral"
    elif a == b or b == c or a == c:
        return "Isosceles"
    else:
        return "Scalene"

In [16]:
def in_range(num, lower, upper):
    return lower <= num <= upper

In [17]:
def is_century_year(year):
    return year % 100 == 0

In [20]:
def calculate(a, b, operator):
    if operator == '+':
        return a + b
    elif operator == '-':
        return a - b
    elif operator == '*':
        return a * b
    elif operator == '/':
        return a / b

In [21]:
def temperature_check(temp_celsius):
    if temp_celsius <= 0:
        return "Freezing"
    elif temp_celsius <= 25:
        return "Moderate"
    else:
        return "Hot"

In [22]:
def vowel_or_consonant(char):
    return "Vowel" if char.lower() in 'aeiou' else "Consonant"

In [35]:
for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
i = 1
while i <= 50:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [31]:
def print_reverse_range(start, end):
    for i in range(start, end - 1, -1):
        print(i)

In [32]:
def factorial(n):
    result = 1
    i = 1
    while i <= n:
        result *= i
        i += 1
    return result

In [33]:
def reverse_number(num):
    reversed_num = 0
    while num > 0:
        reversed_num = reversed_num * 10 + num % 10
        num //= 10
    return reversed_num